[submodule "submodules/graypaper"]
	path = submodules/graypaper
	url = https://github.com/gavofyork/graypaper.git
[submodule "submodules/ark-vrf"]
	path = submodules/ark-vrf
	url = https://github.com/davxy/ark-vrf.git
[submodule "submodules/bandersnatch-vrf-spec"]
	path = submodules/bandersnatch-vrf-spec
	url = https://github.com/davxy/bandersnatch-vrf-spec.git
[submodule "submodules/jamduna"]
	path = submodules/jamduna
	url = https://github.com/jam-duna/jamtestnet.git
[submodule "submodules/polkavm"]
	path = submodules/polkavm
	url = https://github.com/paritytech/polkavm.git
[submodule "submodules/jam-docs"]
	path = submodules/jam-docs
	url = https://github.com/JamBrains/jam-docs.git
[submodule "submodules/jam-types-py"]
	path = submodules/jam-types-py
	url = https://github.com/davxy/jam-types-py.git
[submodule "submodules/arkworks-algebra"]
	path = submodules/arkworks-algebra
	url = https://github.com/arkworks-rs/algebra.git
[submodule "submodules/jam-test-vectors"]
	path = submodules/jam-test-vectors
	url = https://github.com/davxy/jam-test-vectors.git
[submodule "submodules/new-gas-cost-model"]
	path = submodules/new-gas-cost-model
	url = https://github.com/koute/new-gas-cost-model.git
[submodule "submodules/jam-conformance"]
	path = submodules/jam-conformance
	url = https://github.com/davxy/jam-conformance.git
[submodule "submodules/w3f-jam-conformance"]
	path = submodules/w3f-jam-conformance
	url = https://github.com/w3f/jam-conformance.git
[submodule "submodules/pvm-test-vectors"]
	path = submodules/pvm-test-vectors
	url = https://github.com/koute/jamtestvectors.git
	branch = master_pvm_initial
[submodule "packages/bandersnatch"]
	path = packages/bandersnatch
	url = https://github.com/Esscrypt/bandersnatch.git
[submodule "packages/bandersnatch-vrf"]
	path = packages/bandersnatch-vrf
	url = https://github.com/Esscrypt/bandersnatch-vrf.git
[submodule "submodules/ring-proof"]
	path = submodules/ring-proof
	url = https://github.com/w3f/ring-proof.git
[submodule "submodules/JIPs"]
	path = submodules/JIPs
	url = https://github.com/polkadot-fellows/JIPs.git
