[package]
name = "pbnjam-pvm-rust"
version = "0.0.1"
edition = "2021"
description = "PVM implementation in Rust (NAPI, same API as pvm-assemblyscript)"

[lib]
name = "pbnjam_pvm_rust"
crate-type = ["cdylib"]

[dependencies]
blake2 = { version = "0.10", default-features = false }
napi = { version = "2", default-features = false, features = ["napi4"] }
napi-derive = "2"

[build-dependencies]
napi-build = "2"

[profile.release]
lto = true
codegen-units = 1
