name: PeanutButterAndJam - verify
on:
  pull_request:
    types: [opened, synchronize]

# env:
#   TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
#   TURBO_TEAM: ${{ vars.TURBO_TEAM }}
jobs:
  lint:
    name: Lint + Format
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: 2.0.6
      - name: Run Biome
        run: biome ci .

  types:
    name: Types
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Checkout jam-test-vectors submodule
        run: git submodule update --init submodules/jam-test-vectors
      - name: Checkout bandersnatch submodule
        run: git submodule update --init packages/bandersnatch
      - name: Checkout bandersnatch-vrf submodule
        run: git submodule update --init packages/bandersnatch-vrf

      - name: Install dependencies
        uses: ./.github/actions/install
      - name: Check types
        run: bun check

  test:
    name: Test
    runs-on: ubuntu-latest
    needs:  [lint]
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        include: [{ suite: default }]
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Checkout jam-test-vectors submodule
        run: git submodule update --init submodules/jam-test-vectors
      - name: Checkout jam-conformance submodule
        run: git submodule update --init submodules/jam-conformance
      - name: Checkout w3f-jam-conformance submodule
        run: git submodule update --init submodules/w3f-jam-conformance

      - name: Checkout pvm-test-vectors submodule
        run: git submodule update --init submodules/pvm-test-vectors
      - name: Checkout bandersnatch submodule
        run: git submodule update --init packages/bandersnatch
      - name: Checkout bandersnatch-vrf submodule
        run: git submodule update --init packages/bandersnatch-vrf

      - name: Install dependencies
        uses: ./.github/actions/install
      - name: Run PeanutButterAndJam tests
        run: bun run test
      - name: Run Traces tests
        run: cd infra/node && bun test jam-conformance-traces-wasm.test.ts
